@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.section-dimensions;
  @include m.color-transition;
}

.introduction-light {
  @include m.light-theme-template;
}

.introduction-dark {
  @include m.dark-theme-template;
}
