@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.section-dimensions;

  transition: background-color 0.55s ease, color 0.55s ease;
}

.introduction-light {
  background-color: v.$primary-color-light;
}

.introduction-dark {
  @include m.dark-theme-template;
}

.description {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}
