@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include m.section-dimensions;
  width: 50%;
  margin: 0 auto;
  @include m.color-transition;
}

.introduction-light {
  @include m.light-theme-template;
}

.introduction-dark {
  @include m.dark-theme-template;
}

@media (max-width: 1200px) {
  .introduction {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .introduction {
    width: 85%;
    margin: 0 auto;
  }
}
