.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 2px solid red;
  font-family: "Roboto";
}

.project-image {
  // height: 100%;
  width: 90%;
  height: 200px;
  object-fit: contain;
}
