@use "../../partials/variables" as v;

.button-link-resizeable {
  width: 100%;
  height: 100%;
  max-width: 12rem;
  max-height: 3.5rem;
}

.button-container {
  position: relative;
  max-width: 12rem;
  max-height: 3.5rem;
  font-family: "Roboto";
  font-size: 1.2rem;
  overflow: hidden;
  box-sizing: content-box;
}

.button-container-dark {
  color: v.$accent-color;
  border: 2px solid v.$accent-color;
}
.button-container-light {
  color: v.$secondary-color-four;
  border: 2px solid v.$secondary-color-four;
}

.button-container-resizeable {
  width: 100%;
  height: 100%;
  font-size: max(0.9rem, min(2vw, 1.2rem));
}

.button-container-fixed {
  width: 12rem;
  height: 3.5rem;
}

.button {
  position: absolute;
  width: 110%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 1px), calc(-50% + 1px));
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  mask-size: 2900% 100%;
  -webkit-mask-size: 3000% 100%;
  mask-position: 100% 0;
  -webkit-mask-position: 100% 0;
  border: none;
  color: v.$primary-color-dark;
  font-family: inherit;
}

.button-dark {
  background-color: v.$accent-color;
}

.button-light {
  background-color: v.$primary-color-dark-shade;
  background-color: v.$secondary-color-four;
  color: white;
}

.button-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button-animated {
  animation: clear 0.6s steps(29) forwards;
}

.button-resizeable {
  font-size: max(0.9rem, min(2vw, 1.2rem));
}

.button-fixed {
  font-size: 1.2rem;
}

.button-container-hovered {
  cursor: pointer;
  .button {
    cursor: pointer;

    animation: fillUp 0.6s steps(29) forwards;
  }
}

@keyframes fillUp {
  from {
    mask-position: 100% 0;
    -webkit-mask-position: 100% 0;
  }
  to {
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
  }
}

@keyframes clear {
  from {
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
    -webkit-mask-position: 100% 0;
  }
}
