.skill-boxes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
  gap: 1rem;
}

@media (max-width: 768px) {
  .skill-boxes {
    width: 75%;
  }
}
