@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.paragraph {
  width: 50%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;

  @include m.color-transition;
}

.paragraph-dark {
  color: v.$secondary-color-two;
}

.paragraph-light {
  color: v.$primary-color-dark-shade;
}

@media (max-width: 768px) {
  .paragraph {
    width: 75%;
    font-size: 1.25rem;
  }
}
