@use "../../partials/variables" as v;

.button-container {
  position: relative;
  width: 12rem;
  height: 3.5rem;
  border: 2px solid v.$accent-color;

  color: v.$accent-color;
  font-family: "Roboto";
  font-size: 1.2rem;
}

.container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: 100%;
  height: 100%;
  mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  -webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
  mask-size: 2900% 100%;
  -webkit-mask-size: 3000% 100%;
  border: none;
  background-color: v.$accent-color;
  color: v.$primary-color-dark;
  font-family: inherit;
  font-size: 1.2rem;

  animation: clear 0.6s steps(29) forwards;
}

.button-container-hovered {
  cursor: pointer;
  .button {
    cursor: pointer;
    animation: fillUp 0.6s steps(29) forwards;
  }
}

@keyframes fillUp {
  from {
    mask-position: 100% 0;
    -webkit-mask-position: 100% 0;
  }
  to {
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
  }
}

@keyframes clear {
  from {
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
    -webkit-mask-position: 100% 0;
  }
}
