@use "../../partials/mixins" as m;

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  @include m.section-dimensions;
  background-color: yellow;
}

// .projects-light {
// }

.projects-dark {
  @include m.dark-theme-template;
}
