@use "../../partials/mixins" as m;

.projects {
  position: relative;
  @include m.section-dimensions;
  background-color: yellow;

  @include m.color-transition;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.projects-light {
  @include m.light-theme-template;
}

.projects-dark {
  @include m.dark-theme-template;
}
