@use "../../partials/mixins" as m;

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.section-dimensions;
  background-color: green;
}

// .skills-light {
// }

.skills-dark {
  @include m.dark-theme-template;
}
