@use "../../variables" as v;

.hero {
  width: 100vw;
  height: 90vh;
  font-family: "Gochi Hand", "cursive";
  font-size: 2rem;

  transition: all 0.55s ease;
}

.hero-light {
  background-color: v.$primary-color-light;
}

.hero-dark {
  background-color: v.$primary-color-dark;
  color: v.$secondary-color-2;
}
