$primary-color-dark: #25252d;
$primary-color-medium: #6f6f89;
$primary-color-light: #b5b5c0;
$secondary-color: #d8a3b5;
$secondary-color-two: #5fe88d;
$secondary-color-three: #ff9eb5;
$accent-color: #fff44f;
