@use "../../partials/mixins" as m;

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  @include m.section-dimensions;
  background-color: red;
}

// .contact-light {
// }

.contact-dark {
  @include m.dark-theme-template;
}
