$panel-height: 40px;
$switch-size: $panel-height - 6px;
$switch-margin: 4px;

.panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  width: 80px;
  height: $panel-height;
  background-color: navy;
  color: white;
  border: none;
  border-radius: ceil($panel-height / 2);
  font-size: 2rem;
}

.switch {
  position: absolute;
  top: 50%;
  left: $switch-margin;
  transform: translateY(-50%);
  height: $switch-size;
  width: $switch-size;
  border-radius: 50%;
  background-color: red;

  transition: left 0.5s ease;
}

.dark-mode {
  .switch {
    left: calc(100% - $switch-size - $switch-margin);
  }
}
