@use "sass:math";
@use "../../partials/variables" as v;

$panel-height: 40px;
$icon-size: $panel-height - 8px;
$switch-size: $panel-height - 6px;
$switch-margin: 4px;

.panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: $panel-height;
  padding: 0 4px;
  margin: 0 30px;
  border: none;
  border-radius: ceil(math.div($panel-height, 2));
  font-size: $panel-height - 8px;
  outline: none;
}

.switch {
  position: absolute;
  top: 50%;
  left: $switch-margin;
  transform: translateY(-50%);
  height: $switch-size;
  width: $switch-size;
  border-radius: 50%;
  background-color: v.$primary-color-light;

  transition: left 0.55s ease;
}

.panel-light {
  background-color: v.$primary-color-dark-tint;
  color: v.$accent-color;
}

.panel-dark {
  background-color: v.$primary-color-dark-tint;
  color: v.$accent-color;
  .switch {
    left: calc(100% - $switch-size - $switch-margin);
  }
}
