@use "../../partials/mixins" as m;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include m.section-dimensions;
  width: 50%;
  margin: 0 auto;
  @include m.color-transition;
}

.about-light {
  @include m.light-theme-template;
}

.about-dark {
  @include m.dark-theme-template;
}

@media (max-width: 1200px) {
  .about {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .about {
    width: 85%;
    margin: 0 auto;
  }
}
