@use "../../partials/mixins" as m;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.section-dimensions;
  background-color: blue;
}

// .about-light {
// }

.about-dark {
  @include m.dark-theme-template;
}
