@use "../../partials/mixins" as m;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.section-dimensions;
  background-color: blue;

  @include m.color-transition;
}

.about-light {
  @include m.light-theme-template;
}

.about-dark {
  @include m.dark-theme-template;
}
