@use "../../partials/variables" as v;

.skill-box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  height: 52px;
  padding: 0 14px;
  border-radius: 10px;
  background-color: v.$secondary-color-two;
  color: v.$primary-color-dark-shade;
  font-family: "Roboto";
  font-size: 1.2rem;
  user-select: none;
  opacity: 0;
  transform: translateY(5rem);

  transition: opacity 800ms ease, transform 800ms ease;
}

.skill-box-visible {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: v.$skill-box-icon-size;
}

@media (max-width: 768px) {
  .icon {
    font-size: v.$skill-box-icon-size-small;
  }
  .skill-box {
    height: 40px;
    font-size: 1rem;
  }
}
