@use "../../partials/variables" as v;

.skill-box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  height: 52px;
  padding: 0 14px;
  border-radius: 10px;
  background-color: v.$secondary-color;
  color: v.$primary-color-dark-shade;
  font-family: "Roboto";
  font-size: 1.2rem;
  user-select: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

// Can't directly access classes declared on svg paths
.svg {
  path:nth-child(1) {
    fill: v.$primary-color-dark-shade;
  }
  path:nth-child(2) {
    fill: v.$secondary-color;
  }
}
