@use "./partials/variables" as v;
@use "./partials/mixins" as m;

.app {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  scrollbar-width: none;
  font-family: "Gochi Hand", "cursive";
}

.app-dark {
  background-color: v.$primary-color-dark;

  @include m.color-transition;
}

.app-light {
  background-color: v.$primary-color-light;

  @include m.color-transition;
}

.app-scrollable {
  overflow-y: scroll;
}
