@use "./partials/variables" as v;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   overflow: hidden;
//   ::-webkit-scrollbar {
//     display: none;
//   }
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: v.$primary-color-dark-shade;
}

:link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
