.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-52.5%);
  right: 4%;
  z-index: 100;
}

.bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bullet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
