.heading {
  font-size: 4rem;
  text-align: center;
  opacity: 0;

  transition: opacity 800ms linear;
}

.heading-visible {
  opacity: 1;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px), (max-height: 850px) {
  .heading {
    width: 85%;
    font-size: 2.5rem;
  }
}
